<article id="formulario" class="mensaje">
	<div class="exito mensajeOk">{{values.TEXTS.pedidoRecibido}}</div> {# --------------------------------------------- MENSAJE DE EXITO ---------- #}
	
	{#<div class="error">{{values.TEXTS.pedidoError}}</div> {# - MENSAJE DE ERROR ---------- #}
</article>