<div id="text-5" class="widget_text widget">
    <div class="h-wrapper">
	<h3>{{macro.idioma('horario')}}<span class="line"></span></h3>
    </div>
    <div class="textwidget">
	<ol class="business-hours">
	    <li>
		<strong >{{macro.idioma('lunes')}} - {{macro.idioma('viernes')}}</strong>
		<span class="fright">9:00 - 14:00,  16:00 - 19:30</span>
	    </li>                   
	</ol>
    </div>
</div>