{% extends layout %}


{% block cuerpo %}
<div id="sub-main" class="container_12">
    <div class="h-wrapper h1 grid_12">
	<h1>{{macro.idioma('contacto')}}<span class="line"></span></h1>
    </div>     
    <div id="content" class="grid_8">
	<p>{{macro.idioma('textoContacto')}}</p> 
	    
	<div class="clear mb15"></div>
	
	{% include 'Contacto/datosContacto.html.twig' %}  
	    
        <div class="clear mb15"></div>

	{% include 'Contacto/formulario.html.twig' %} 
		 
    </div>
    {% include 'Contacto/columnaDerecha.html.twig' %}
</div>
{% endblock %}