<div class="google-map">
    <iframe 
	height="350" 
	frameborder="0" 
	scrolling="no" 
	marginheight="0" 
	marginwidth="0" 
	src="https://maps.google.es/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;&amp;aq=&amp;sll={{values.meta.geoPositionLatitude}},{{values.meta.geoPositionLongitude}}&amp;sspn=4.131153,7.064209&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=Av+Blas+de+Otero,+10,+18200+Maracena,+Granada&amp;ll={{values.meta.geoPositionLatitude}},{{values.meta.geoPositionLongitude}}&amp;spn=0.008083,0.013797&amp;z=16&amp;iwloc=A&amp;output=embed">
    </iframe>
</div>