{# Aviso de cookies #}
{%if values.session_id == ""%}
    <div id="top-nav-wrapper">
        <div id="top-nav-container" class="container_12">
            <div id="top-nav" class="grid_12">
                <p>{{macro.idioma('avisoCookies')}} <a href="{{app.path}}/politica-de-cookies" title="{{macro.idioma('masInfo')}}">{{macro.idioma('masInfo')}}</a></p>
            </div>
        </div> 
    </div>
{%endif%}
