{# empty Twig template
<div id="breadcrumb-wrapper">
    <div id="breadcrumb" class="container_12">
        <div id="crumbs">
            <a href="index.html">Home</a>
            &nbsp;-&nbsp;
            <span class="current bold">Gallerynoborder Portfolio 3 column</span>
        </div>
    </div>
</div>
 #}
