{# Rss #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block content %}
	<p>Template autogenerado para el controlador Rss</p>
	<p>Edítalo en themes/themea/modules/Rss/index.html.twig</p>
{% endblock %}