{% extends layout %}

{% block content %}
<div id="sub-main" class="container_12">
    <div class="blockquote quote1">
        <div class="quote1">
            <p>{{macro.idioma('error404')}}</p>
        </div>
    </div>	
</div>
{% endblock %}