<div class="grid_12">  
    <div class="stunningtext">
	<h3 class="stunningtext-title">{{values.servicio.Subtitulo}}</h3>
	<div class="stunningtext-caption">
            {%autoescape false%}{{values.servicio.Introduccion}}{%endautoescape%}
	</div>    
    </div>
    <a class="normal-button larg stunning" href="{{app.path}}/contacto">{{macro.idioma('contactaConNosotros')}}</a>          
</div>	