{% extends layout %}

{% block content %}
<div id="sub-main" class="container_12">
    <div class="h-wrapper h1 grid_12">
	<h1>{{macro.idioma('servicios')}}<span class="line"></span></h1>
    </div>       
    <div id="content">
	{% include 'Servicios/contacta.html.twig' %}        

        <div class="clear mb60"></div>
        
	{% include 'Servicios/listadoServicios.html.twig' %}	
    </div>
    <!-- end of #content -->
</div>
{% endblock %}