<section>
    <article id="bienvenido">
        <span>{{macro.idioma('hola')}} {{user.Nombre}}, {{macro.idioma('estasSonTusEmpresas')}}:</span><br/><br/>
	
        <!-- <ul>
            <li id="notificaciones">Tiene <a href="#" title="n notificaciones">36</a> notificaciones</li>
            <li id="datos"><a href="#" title="modifique sus datos">Modifique sus datos</a></li>
        </ul>
        <a href="{{app.path}}/logout" title="cerrar sesión" id="cerrarSesion">cerrar sesión</a> 
        
        -->
    </article>
</section>