<div id="slider-wrapper">
	<div id="nivoslider-wrapper">
		<div id="nivoslider" class="nivoSlider">
			<img src="images/slider/nivo/slider-3.jpg" title="#caption1" alt="">
			<img src="images/slider/nivo/slider-4.jpg" title="#caption2" alt="">
			<img src="images/slider/nivo/slider-5.jpg" title="#caption3" alt="">
			<img src="images/slider/nivo/slider-1.jpg" title="#caption4" alt="">
		</div>
	</div>

	<div id="caption1" class="nivo-html-caption">
		<h2 class="nivo-title"></h2>
		<span class="custom-title1 skin-color">FRESH</span>
		<span class="custom-title2">Solutions</span>
		<span class="custom-title3">that you need</span>
	</div>
	<div id="caption2" class="nivo-html-caption">
		<h2 class="nivo-title"></h2>
		<span class="custom-title1 skin-color">BUSINESS</span>
		<span class="custom-title2">Solutions</span>
		<span class="custom-title3">of new age</span>
	</div>
	<div id="caption3" class="nivo-html-caption">
		<h2 class="nivo-title"></h2>
		<span class="custom-title1 skin-color">DISCOVER</span>
		<span class="custom-title2">the Business Secrets</span>
		<span class="custom-title3">for your success</span>
	</div>
	<div id="caption4" class="nivo-html-caption">
		<h2 class="nivo-title"></h2>
		<span class="custom-title1 skin-color">LIGHT</span>
		<span class="custom-title2">Ideas</span>
		<span class="custom-title3">for Your Business</span>
	</div>
</div>