{# Noticias #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block content %}
	<p>Template autogenerado para el controlador Noticias</p>
	<p>Edítalo en themes/themec/modules/Noticias/index.html.twig</p>
{% endblock %}