{% extends '_global/layoutLaptopPopup.html.twig' %}

{% block title parent() ~ " - Inicio" %}


{% block cuerpo %}
<div id="sub-main" class="container_12">
    <div id="content" class="padding30">

	<div class="h-wrapper h1 grid_12">	
	    <h2 id="politica">Política de Privacidad</h2>
	</div>
	
	<p>Salvo que se señale lo contrario en cada caso, los datos que se recogen en los formularios son necesarios y obligatorios para poder acceder y prestar los servicios establecidos en la web. El usuario o usuaria debe rellenar los formularios con datos verdaderos, exactos y completos, respondiendo de los daños y perjuicios que puedan ocasionar en caso de cumplimentación defectuosa, con datos falsos, inexactos, incompletos o no actualizados.</p>

        <p>Tenemos el compromiso de adoptar los niveles de seguridad de protección de datos personales exigidos en la legislación vigente, instalando al efecto las medidas técnicas y organizativas necesarias para evitar la pérdida, mal uso, alteración, acceso no autorizado y demás riesgos posibles. Nos comprometemos a cumplir con la obligación de secreto respecto de los datos contenidos en los ficheros establecidos en la legislación vigente.	    </p>

    </div>
</div>
{% endblock %}


