{% extends layout %}

{% block cuerpo %}
<div id="sub-main" class="container_12">
    <div class="h-wrapper h1 grid_12">
	<div class="testimonial-shortcode-wrapper no-carousel">
	    <ul>
		<li class="testimonial">
		    <p>{{macros.idioma('error')}}</p>
		</li>
	    </ul>
	</div>	
    </div>
</div>
{% endblock %}