<div id="nav">
    <ul>
        <li class="current"><a onClick="goToByScroll('cabecera');" class="rounded"></a></li>
        <li><a onClick="goToByScroll('bienvenido');" class="rounded"></a></li>
        <li><a onClick="goToByScroll('servicios');" class="rounded"></a></li>
        <li><a onClick="goToByScroll('eventos');" class="rounded"></a></li>
        <li><a onClick="goToByScroll('pie');" class="rounded"></a></li>
    </ul>
</div>