<div id="eventos" class="section_eventos">
    <div class="contenedor_central">
        <h2>{{values.TEXTS.eventosYActividades | upper}}</h2>
        {% include '_global/calendario.html.twig' %}
        {% include 'Index/seccionEventosNoticias.html.twig' %}
    </div>
</div>