<div id="pie" class="section_pie">
    <div class="contenedor_central">
        <h2>{{values.LABELS.nuestrasMarcas | upper}}</h2>
        {% include 'Index/bannersPie.html.twig' %}
        <a onClick="goToByScroll('home');" id="btn_pie"></a>
            <span class="hendido_pie"></span>
        {% include 'Index/footer.html.twig' %}
    </div>
</div>