{% include 'Index/seccionHome.html.twig' %}
    <span class="inter"></span>  
{% include 'Index/seccionBienvenido.html.twig' %}  
    <span class="inter"></span>  
{% include 'Index/seccionServicios.html.twig' %}  
    <span class="inter"></span>  
{% include 'Index/seccionEventos.html.twig' %}  
    <span class="inter_eventos"></span>
{% include '_global/seccionPie.html.twig' %}  