<div id="home" class="section_home">
    <div id="sombra"></div>
    <div class="contenedor_central">
        {% include 'Index/enlacesIconos.html.twig' %}
        {% include 'Index/acordeonCabecera.html.twig' %}
        <a onClick="goToByScroll('bienvenido');" id="btn_home"></a>
    </div>
</div>