{# Enlaces #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block cuerpo %}
	<p>Template autogenerado para el controlador Enlaces</p>
	<p>Edítalo en themes/themea/modules/Enlaces/index.html.twig</p>
{% endblock %}
