
<header>
    <div  class="contenido_header row">
        <div class="span3">
            <a class="logoweb" href="{{app.path}}/" title="Hipoteca Capital Privado">
                <img  alt="Hipoteca Capital Privado" title="Hipoteca Capital Privado" src="{{app.path}}/{{theme}}/images/logo.png">
            </a>
        </div>
        <div  class="span9">
            <div class="clearfix tel_cabecera" >
                <span class="horarioTelCabecera">Teléfono gratuito</span>
                <span clasS="TfTelCabecera" ><strong>{{values.datosContacto.telefono1}}</strong></span>
                <span class="horarioTelCabecera">Nuestro horario:<br/>
                    Lunes a Viernes de 9 a 18,<br/></span>
            </div>
            <ul class="row navSuperior">
                <li><a alt="" title="" href="/comercializacion-servicios-financieros-prestamos-creditos">Distribuye <span>nuestras soluciones</span></a> <span class="separator">|</span> </li>

                <li><span>Síguenos</span></li>
                <li class="red_cabecera red_facebook" style=""><a alt="Facebook Formula Capital" title="Facebook Formula Capital" href="https://www.facebook.com/pages/F%C3%B3rmula-Capital/308208962534544" rel="nueva_ventana me">&nbsp;</a></li>
                <li class="red_cabecera red_twitter" style=""><a alt="Twitter Formula Capital" title="Twitter Formula Capital" href="https://twitter.com/FormulaCapital" rel="nueva_ventana me">&nbsp;</a></li>
                <li class="red_cabecera red_youtube" style="display:none;"><a alt="Youtube Formula Capital" title="Youtube Formula Capital" href="" rel="nueva_ventana me">&nbsp;</a></li>
                <li class="red_cabecera red_gplus" style=""><a alt="Google Plus Formula Capital" title="Google Plus Formula Capital" href="https://plus.google.com/107112274171026619946/posts?hl=es&partnerid=gplp0" rel="nueva_ventana me">&nbsp;</a></li>
                <li class="red_cabecera red_rss"><a rel="nueva_ventana" alt="facebook Formula Capital" title="rss Formula Capital" href="/rss">&nbsp;</a></li>
                <li><iframe src="//www.facebook.com/plugins/like.php?href=http://www.formulacapital.es&amp;send=false&amp;layout=button_count&amp;width=74&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;locale=es_ES" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:74px !important; height:21px;" allowTransparency="true" title="Facebook"></iframe></li>
            </ul>

        </div>
    </div>

    <div  class="contenido_header row">
        <div  class="span12"><nav class="menu">
                <div class="navbar">
                    <div class="navbar-inner">
                        <ul class="nav clearfix">
                            <li class="optMenu menuP1 ">
                                <a class="optMenuA" href="/formula-capital" alt="Quiénes somos" title="Quiénes somos">										
                                    Quiénes <span>somos</span>					</a>
                            </li>
                            <li class="optMenu menuP2 ">
                                <a class="optMenuA" href="/como-conseguir-dinero" alt="Qué hacemos" title="Qué hacemos">										
                                    Qué <span>hacemos</span>					</a>
                            </li>
                            <li class="optMenu menuP3 ">
                                <a class="optMenuA" href="/formas-de-conseguir-dinero" alt="Por qué Fórmula Capital" title="Por qué Fórmula Capital">										
                                    Por qué Fórmula Capital					</a>
                            </li>
                            <li class="optMenu menuP4 ">
                                <a class="optMenuA" data-toggle="dropdown" data-target="/soluciones-financieras-creditos-minicreditos" href="#" alt="Soluciones" title="Soluciones">
                                    Soluciones					</a>
                                <div class="dropdown-menu"  role="menu" aria-labelledby="dLabel">
                                    <ul class="listado_menu2">
                                        <li><a href="/soluciones-particulares" alt="Particulares" title="Particulares">Particulares</a></li>
                                        <li><a href="/soluciones-empresas" alt="Empresas" title="Empresas">Empresas</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li class="optMenu menuP5 ">
                                <a class="optMenuA" href="/informacion-y-consejos-financieros" alt="Magazine" title="Magazine">										
                                    Magazine					</a>
                            </li>
                            <li class="optMenu menuP6 ">
                                <a class="optMenuA" href="/preguntas-frecuentes-sobre-financiacion-embargos-creditos" alt="FAQs" title="FAQs">										
                                    FAQs					</a>
                            </li>
                            <li class="optMenu menuP7 ">
                                <a class="optMenuA" href="/contacto" alt="Contacto Formula Capital" title="Contacto Formula Capital">										
                                    Contacto					</a>
                            </li>
                        </ul> 
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <div id="ContenedorBanners" class="home">
        <div id="myCarouselBanners" class="carousel slide">
            <div class="indicator clearfix">
                <ol class="carousel-indicators" style="margin-right: -56px;">
                    <li data-target="#myCarouselBanners" data-slide-to="0" class="active submenu" id="submenu_0">
                        <div class="texto"><span class="texto2"></span></div>
                    </li>
                    <li data-target="#myCarouselBanners" data-slide-to="1" class=" submenu" id="submenu_1">
                        <div class="texto"><span class="texto2"></span></div>
                    </li>
                    <li data-target="#myCarouselBanners" data-slide-to="2" class=" submenu" id="submenu_2">
                        <div class="texto"><span class="texto2"></span></div>
                    </li>
                    <li data-target="#myCarouselBanners" data-slide-to="3" class=" submenu" id="submenu_3">
                        <div class="texto"><span class="texto2"></span></div>
                    </li>
                    <li data-target="#myCarouselBanners" data-slide-to="4" class=" submenu" id="submenu_4">
                        <div class="texto"><span class="texto2"></span></div>
                    </li>
                    <li data-target="#myCarouselBanners" data-slide-to="5" class=" submenu" id="submenu_5">
                        <div class="texto"><span class="texto2"></span></div>
                    </li>
                    <li data-target="#myCarouselBanners" data-slide-to="6" class=" submenu" id="submenu_6">
                        <div class="texto"><span class="texto2"></span></div>
                    </li>
                    <li data-target="#myCarouselBanners" data-slide-to="7" class=" submenu" id="submenu_7">
                        <div class="texto"><span class="texto2"></span></div>
                    </li>
                    <li data-target="#myCarouselBanners" data-slide-to="8" class=" submenu" id="submenu_8">
                        <div class="texto"><span class="texto2"></span></div>
                    </li>
                </ol>
            </div>
            <!-- Carousel items -->
            <div class="carousel-inner">
                <div class="active item" style="height: 433px;background: url('/resources/archivosbd/__banners/d793da550c08e9c70985d5e5d6984c2c.jpg') no-repeat scroll center center transparent">
                    <a class="enlace_banner clearfix"  >
                    </a>
                    <div class="pastilla">
                        <h3>Hipoteca Capital Privado</h3>
                        <h4>Para lo que necesites</h4>
                        <a class="btn btn-amarillo" href="/creditos-rapidos">Más info</a>
                    </div>
                    <div class="textoBanner"></div>
                </div>
                <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/25b899df2ce892fe882a4a07096a9df2.jpg') no-repeat scroll center center transparent">
                    <a class="enlace_banner clearfix"  >
                    </a>
                    <div class="pastilla">
                        <h3>Refinación<br>de Deudas</h3>
                        <h4>Reunifica tus deudas</h4>
                        <a class="btn btn-amarillo" href="/refinacion-de-deudas">Más info</a>
                    </div>
                    <div class="textoBanner"></div>
                </div>
                <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/26e782eb2181ae75033258b7faa3cbd8.jpg') no-repeat scroll center center transparent">
                    <a class="enlace_banner clearfix"  >
                    </a>
                    <div class="pastilla">
                        <h3>Crédito<br>Express</h3>
                        <h4>hasta 5000€</h4>
                        <a class="btn btn-amarillo" href="/credito-personal">Más info</a>
                    </div>
                    <div class="textoBanner"></div>
                </div>
                <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/e287044568462a555e7333e53c11ab95.jpg') no-repeat scroll center center transparent">
                    <a class="enlace_banner clearfix"  >
                    </a>
                    <div class="pastilla">
                        <h3>Mini- <br/>crédito</h3>
                        <h4>tu dinero en 24h</h4>
                        <a class="btn btn-amarillo" href="/minicreditos">Más info</a>
                    </div>
                    <div class="textoBanner"></div>
                </div>
                <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/b697b1bc034eb950d43e6cf3bfbde8e9.jpg') no-repeat scroll center center transparent">
                    <a class="enlace_banner clearfix"  >
                    </a>
                    <div class="pastilla">
                        <h3>Cancelación<br>de subastas</h3>
                        <h4>y embargos</h4>
                        <a class="btn btn-amarillo" href="/stop-embargos">Más info</a>
                    </div>
                    <div class="textoBanner"></div>
                </div>
                <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/85309c9074d507a65f81e5b5e2b169fa.jpg') no-repeat scroll center center transparent">
                    <a class="enlace_banner clearfix"  >
                    </a>
                    <div class="pastilla">
                        <h3>Dinero por<br>mi vehículo</h3>
                        <h4>Y sigue utilizándolo</h4>
                        <a class="btn btn-amarillo" href="/empeno-de-vehiculos">Más info</a>
                    </div>
                    <div class="textoBanner"></div>
                </div>
                <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/0010bfd79c7f9308833f4a76c6c1c123.jpg') no-repeat scroll center center transparent">
                    <a class="enlace_banner clearfix"  >
                    </a>
                    <div class="pastilla">
                        <h3>Fórmula Factoring</h3>
                        <h4>y descuento de pagarés</h4>
                        <a class="btn btn-amarillo" href="/descuento-pagares">Más info</a>
                    </div>
                    <div class="textoBanner"></div>
                </div>
                <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/f3175876eda65ce5a69cde9d1f0a46d8.jpg') no-repeat scroll center center transparent">
                    <a class="enlace_banner clearfix"  >
                    </a>
                    <div class="pastilla">
                        <h3>Fórmula Renting</h3>
                        <h4>Para pymes y autónomos</h4>
                        <a class="btn btn-amarillo" href="/formula-renting">Más info</a>
                    </div>
                    <div class="textoBanner"></div>
                </div>
                <div class=" item" style="height: 433px;background: url('/resources/archivosbd/__banners/4242e4802e620d430e5354ebf7c8c2fc.jpg') no-repeat scroll center center transparent">
                    <a class="enlace_banner clearfix"  >
                    </a>
                    <div class="pastilla">
                        <h3>Crédito Comercio</h3>
                        <h4>Financia tus ventas</h4>
                        <a class="btn btn-amarillo" href="/financiar-ventas">Más info</a>
                    </div>
                    <div class="textoBanner"></div>
                </div>
            </div>
            <!-- Carousel nav -->
        </div>
    </div>
</header>
