{# CONTENIDO DE LA HOME #}
<div id="contenido" class="clearfix">
    <div id="contenidoModuloBlanco">

        <div class="row">
            <div class="modulo_quenecesitas contenido_interior">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#particulares" data-toggle="tab" alt="Particulares" title="Particulares"><strong>Particulares</strong></a></li>
                    <li><a id="simuladorTab" href="#empresas" data-toggle="tab" alt="Empresas" title="Empresas"><strong>Empresas</strong></a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="particulares">
                        <div class="row top">
                            <div class="span6 topizq">
                                <img src="/resources/default_theme/img/comunes/quenecesitas_module/creditos_rapidos.png" alt="" title="" />
                                <a class="titulo" alt="Hipoteca Capital Privado" title="Hipoteca Capital Privado" href="/prestamos-hipoteca-capital-privado">
                                    <h2><strong>Hipoteca<span>Capital Privado</span></strong></h2>
                                    <h3 class="clearfix">Fórmula priBantia</h3>
                                </a>
                                <p>Renueva tu coche, haz reformas en casa, haz el viaje que siempre quisiste hacer... <br/> <strong>Sin preguntas y en muy poco tiempo</strong> dispondrás del <strong>dinero en tu cuenta. <br/></strong>Solo necesitas una <strong>vivienda libre de cargas.</strong></p>
                                <div class="caja_links">
                                    <a class="enlaceNaranja enlace_bot" alt="Más sobre Hipoteca Capital Privado" title="Más sobre Hipoteca Capital Privado" href="/prestamos-hipoteca-capital-privado" class="clearfix clearboth">Más sobre Hipoteca Capital Privado</a>
                                </div>
                            </div>
                            <div class="span6 topder">
                                <img src="/resources/default_theme/img/comunes/quenecesitas_module/refinacion.png" alt="" title="" />
                                <a class="titulo" alt="Refinanciación de Deudas" title="Refinanciación de Deudas" href="/refinanciacion-de-deudas">
                                    <h2><strong>Refinanciación<span>de Deudas</span></strong></h2>
                                    <h3 class="clearfix">Fórmula Reunificación</h3>
                                </a>
                                <p><strong>¿Te gustaría ahorrar hasta un 50%<br>en las cuotas?</strong><br>Reagrupa tus deudas con Fórmula Reunificación.</p>
                                <div class="caja_links">
                                    <a class="enlaceNaranja enlace_bot enlace_top_der" alt="Más sobre Refinanciación de Deudas" title="Más sobre Refinanciación de Deudas" href="/refinanciacion-de-deudas" class="clearfix">Más sobre Refinanciación de Deudas</a>
                                </div>
                            </div>
                        </div>
                        <div class="span3 div_under small" id="div_under3" style="margin-left: 45px;">
                            <a alt="" title="" href="/credito-personal-rapido">
                                <img src="/resources/default_theme/img/comunes/quenecesitas_module/credito_express.png" alt="" title="" style="height: 86px;"/>

                                <h3 class="clearfix">
                                    <span class="clearboth">
                                        <img src="/resources/default_theme/img/comunes/quenecesitas_module/flecha_H3.png" alt="" title=""/>
                                        <strong>Crédito Personal</strong>
                                    </span>
                                    <strong class="clearfix clearboth">hasta 3.000€</strong><br>
                                </h3>

                                <div class="subtitulo clearboth">Fórmula Express</div>
                            </a>
                            <a id="over_div3" alt="" title="" href="/credito-personal-rapido" class="over_div">
                                <p>No esperes más para realizar tus proyectos. Consigue hasta 3.000€ para cumplir ese sueño que llevas tanto tiempo aplazando. </p>
                                <p class="enlace_bot enlaceNegro">Más sobre crédito express</p>
                            </a>
                        </div>
                        <div class="row bottom">
                            <div class="span3 div_under small" id="div_under0">
                                <a alt="" title="" href="/minicreditos">
                                    <img src="/resources/default_theme/img/comunes/quenecesitas_module/microcredito.png" alt="" title="" />

                                    <h3 class="clearfix">
                                        <span class="clearboth">
                                            <img src="/resources/default_theme/img/comunes/quenecesitas_module/flecha_H3.png" alt="" title=""/>
                                            <strong>Minicrédito</strong>
                                        </span>
                                        <strong class="clearfix clearboth">hasta 500€ o 1.500€</strong><br>
                                    </h3>

                                    <div class="subtitulo clearboth">Fórmula Respiro</div>
                                </a>
                                <a id="over_div0" alt="" title="" href="/minicreditos" class="over_div">
                                    <p>Consigue <strong>dinero rápido y fácil. </strong><br/>Sin avales, sin esperas,<br/><strong>en menos de 24 horas </strong>en tu cuenta.</p>
                                    <p class="enlace_bot enlaceNegro">Más sobre Minicréditos</p>
                                </a>
                            </div>
                            <div class="span3 div_under small" id="div_under1">
                                <a alt="" title="" href="/cancelacion-de-deudas-y-embargos">
                                    <img src="/resources/default_theme/img/comunes/quenecesitas_module/cancelacion_subastas.png" alt="" title="" />

                                    <h3 class="clearfix">
                                        <span class="clearboth">
                                            <img src="/resources/default_theme/img/comunes/quenecesitas_module/flecha_H3.png" alt="" title=""/>
                                            <strong>Cancelación</strong>
                                        </span>
                                        <strong class="clearfix clearboth">de Subastas <br/>y Embargos</strong>
                                    </h3>

                                    <div class="subtitulo clearboth">Fórmula Stop Embargos</div>
                                </a>
                                <a id="over_div1" alt="" title="" href="/cancelacion-de-deudas-y-embargos" class="over_div">
                                    <p><strong>¿Tienes prevista la subasta de tu casa? ¿Necesitas dinero de forma inmediata para paralizar o cancelarla?</strong> Te ayudamos a salir de esta situación con Fórmula Subastas.</p>
                                    <p class="enlace_bot enlaceNegro">Cancelar mi subasta</p>
                                </a>
                            </div>
                            <div class="span3 div_under small" id="div_under2">
                                <a alt="" title="" href="/empeno-de-vehiculos">
                                    <img src="/resources/default_theme/img/comunes/quenecesitas_module/empeno_vehiculos.png" alt="" title="" />


                                    <h3 class="clearfix">
                                        <span class="clearboth">
                                            <img src="/resources/default_theme/img/comunes/quenecesitas_module/flecha_H3.png" alt="" title=""/>
                                            <strong>Dinero por</strong>
                                        </span>
                                        <strong class="clearfix clearboth">mi vehículo</strong><br>
                                    </h3>

                                    <div class="subtitulo clearboth">Fórmula Automóvil</div>
                                </a>
                                <a id="over_div2" class="over_div" alt="" title="" href="/empeno-de-vehiculos">
                                    <p>¿Has pensado en dejar en prenda tu automóvil pero necesitas seguir utilizándolo? <strong>Con Fórmula Automóvil conseguirás el dinero que necesitas sin renunciar a tu vehículo.</strong></p>
                                    <p class="enlace_bot enlaceNegro">Dejar en prenda mi vehículo</p>
                                </a>
                            </div>


                        </div>
                    </div>

                    <div class="tab-pane" id="empresas">
                        <div class="row">
                            <div class="span6emp izq-emp">
                                <div style="height: 200px; "><img src="/resources/default_theme/img/comunes/quenecesitas_module/empresas_pagares.png" alt="" title="" style="width: 140px; margin-top:35px;"/></div>
                                <img class="imgflecha" src="/resources/default_theme/img/comunes/quenecesitas_module/flecha.png" alt=""/>
                                <a class="titulo" alt="Descuento de Pagarés" title="Descuento de Pagarés" href="/descuento-pagares">
                                    <h2><strong>Descuento de<br/><span>Pagarés</span></strong></h2>
                                    <h3 class="clerfix">Fórmula Factoring</h3>
                                </a>
                                <p>No dejes que el retraso en el pago de tus clientes te impida seguir creciendo.<br/><strong>Convierte tus ventas a crédito en ventas al contado con Fórmula Factoring.</strong></p>
                                <div class="caja_links_emp">
                                    <a style="margin-left:22px; width: 220px;" class="enlaceNaranja enlace_bot" alt="Más sobre Descuento de Pagarés" title="Más sobre Descuento de Pagarés" href="/descuento-pagares" class="clearfix clearboth">Más sobre Descuento de Pagarés</a>
                                </div>
                            </div>


                            <div class="span6emp der-emp">
                                <div style="height: 200px;"><img src="/resources/default_theme/img/comunes/quenecesitas_module/empresa_renting1.png" alt="" title="" style="width: 140px; margin-top:35px;"/></div>
                                <img class="imgflecha" src="/resources/default_theme/img/comunes/quenecesitas_module/flecha.png" alt=""/>
                                <a class="titulo" alt="Renting" title="Renting" href="/renting">
                                    <h2><strong>Renting</strong></h2><br><br>
                                    <h3 class="clearfix">Fórmula Renting</h3>
                                </a>
                                <p>Elige para tu negocio el renting con las condiciones más ventajosas y <strong>hazlo más competitivo con el renting de Fórmula Capital.</strong></p>
                                <div class="caja_links_emp">
                                    <a style="margin-left:22px; width: 220px;" class="enlaceNaranja enlace_bot enlace_top_der" alt="Más sobre Fórmula Renting" title="Más sobre Fórmula Renting" href="/renting" class="clearfix">Más sobre Fórmula Renting</a>
                                </div>
                            </div>


                            <div class="span6emp der-emp">
                                <div style="height: 200px;"><img src="/resources/default_theme/img/comunes/quenecesitas_module/empresa_financiar.png" alt="" title="" style="width: 110px; margin-top:35px;" /></div>
                                <img class="imgflecha" src="/resources/default_theme/img/comunes/quenecesitas_module/flecha.png" alt=""/>
                                <a class="titulo" alt="Financiar mis ventas" title="Financiar mis ventas" href="/financiar-ventas">
                                    <h2><strong>Financiar<br/><span>mis ventas<br/></span></strong></h2>
                                    <h3 class="clearfix">Fórmula Comercio</h3>
                                </a>
                                <p><strong>¿Quieres aumentar las ventas?</strong> Impulsa tu negocio <strong>ofreciendo a tus clientes la opción de aplazar los pagos de sus compras</strong> mediante nuestra solución Fórmula Comercio.</p>
                                <div class="caja_links_emp">
                                    <a style="margin-left:22px; width: 220px;" class="enlaceNaranja enlace_bot enlace_top_der" alt="Más sobre Financiar Ventas" title="Más sobre Financiar Ventas" href="/financiar-ventas" class="clearfix">Más sobre Financiar Ventas</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="modulo_porqueelegir contenido_interior">
                <h2 class="h2Porque"><strong>¿Por qué elegir Fórmula Capital?</strong></h2>
                <ol class="clearfix clearboth">
                    <li>
                        <div class="numeracion"><strong>1</strong></div>
                        <h3><strong>Dinero de <span>capital privado</span></strong></h3>
                        <p>Captamos el activo de priBantia, Club Privado de Inversión. <strong>Resolvemos las situaciones que los bancos no solucionan.</strong></p>
                    </li>
                    <li>
                        <div class="numeracion"><strong>2</strong></div>
                        <h3><strong>Sin <span>explicaciones</span></strong></h3>
                        <p>No necesitamos saber para qué quieres el dinero. Sabemos que si lo pides es porque lo necesitas. <strong>Confidencialidad 100%.</strong></p>
                    </li>
                    <li>
                        <div class="numeracion"><strong>3</strong></div>
                        <h3><strong>En menos <span>de 24 horas</span></strong></h3>
                        <p>Aprobamos los préstamos <strong>sin esperas, sin demoras innecesarias.</strong> ¡El dinero que necesitas, cuando lo necesitas!</p>
                    </li>
                    <li>
                        <div class="numeracion"><strong>4</strong></div>
                        <h3><strong>Sin <span>intermediarios</span></strong></h3>
                        <p>En Fórmula Capital no somos intermediarios, el dinero pasa directamente a ti. <strong>¡Ahorra comisiones, gana en transparencia!</strong></p>
                    </li>
                    <li class="sinMargen">
                        <div class="numeracion"><strong>5</strong></div>
                        <h3><strong>Líderes <span>en el sector</span></strong></h3>
                        <p><strong>Más de 15 años siendo los mejores</strong> solucionando problemas financieros. Nuestros clientes nos avalan.</p>
                    </li>

                </ol>

                <a alt="Por qué Fórmula Capital" title="Por qué Fórmula Capital" class="btn btn-amarillo" href="/formas-de-conseguir-dinero">¿Aún te quedan dudas?</a>
            </div>
        </div>		</div>
    <div id="contenidoModuloNaranja">
        <div class="contenido_interior clearfix">
            <h1 class="h1Home">Dinero rápido de capital privado</h1>
        </div>
    </div>		
    <div id="contenidoModuloAzul">
        <div class="contenido_interior clearfix">
            <h2 class="h2Home">sin preguntas y en menos de 24 horas</h2>
        </div>
    </div>	
    <div id="destacadosMagazine">
        <div class="contenido_interior">
            <h3 class="row h2magazine">
                <strong>Fórmula Capital Magazine</strong>
            </h3>
            <div class="row">
                <div class="columna col1 span4 elems1">
                    <section class="last_in_column">
                        <img src="/resources/default_theme/lib/imagen.php?imagen=/resources/archivosbd/blog_posts_galeria/79f191af7e464d7b74553bcfd6f38471.png&w=265&h=107&mode=resize_crop" alt="Fórmula Capital te da el préstamo que los bancos te niegan" title="Fórmula Capital te da el préstamo que los bancos te niegan"/>								<h3><a href="http://www.formulacapital.es/dinero-rapido/formula-capital-te-da-el-prestamo-que-los-bancos-te-niegan" title="Fórmula Capital te da el préstamo que los bancos te niegan" alt="Fórmula Capital te da el préstamo que los bancos te niegan">Fórmula Capital te da el préstamo que los bancos te niegan</a></h3>
                        <p>&iquest;Has liquidado tu deuda pero sigues apareciendo en un fichero de morosos? &iquest;Necesitas pedir un pr&eacute;stamo y tu banco te lo niega? Esta es la situaci&oacute;n con la que se est&aacute;n encontrando los ciudadanos a la hora de pedir un&#8230;</p>
                    </section>
                </div>
                <div class="columna col2 span4 elems2">
                    <section class="">
                        <img src="/resources/default_theme/lib/imagen.php?imagen=/resources/archivosbd/blog_posts_galeria/574760c1e2308e3e39310faefd28139e.jpg&w=102&h=103&mode=resize_crop" alt="¿Cómo saldar una deuda fácilmente?" title="¿Cómo saldar una deuda fácilmente?"/>								<h3><a href="http://www.formulacapital.es/dinero-rapido/como-saldar-una-deuda-facilmente" title="¿Cómo saldar una deuda fácilmente?" alt="¿Cómo saldar una deuda fácilmente?">¿Cómo saldar una deuda fácilmente?</a></h3>
                        <p>&iquest;Tienes una deuda desde hace tiempo y no sabes c&oacute;mo saldarla? &iquest;Observas c&oacute;mo cada d&iacute;a va en aumento y no&#8230;</p>
                    </section>
                    <section class="last_in_column">
                        <img src="/resources/default_theme/lib/imagen.php?imagen=/resources/archivosbd/blog_posts_galeria/863e91c0291c795ed43f9712e32e783c.png&w=102&h=103&mode=resize_crop" alt="¿Has reservado ya tus vacaciones de verano?  Descubre nuestra Fórmula Express ¡y no renuncies a nada!  " title="¿Has reservado ya tus vacaciones de verano?  Descubre nuestra Fórmula Express ¡y no renuncies a nada!  "/>								<h3><a href="http://www.formulacapital.es/dinero-rapido/has-reservado-ya-tus-vacaciones-de-verano-descubre-nuestra-formula-express-y-no-renuncies-a-nada" title="¿Has reservado ya tus vacaciones de verano?  Descubre nuestra Fórmula Express ¡y no renuncies a nada!  " alt="¿Has reservado ya tus vacaciones de verano?  Descubre nuestra Fórmula Express ¡y no renuncies a nada!  ">¿Has reservado ya tus vacaciones de verano?  Descubre nuestra Fórmula Express ¡y no renuncies a nada!  </a></h3>
                        <p>&iquest;Cu&aacute;nto tiempo llevas esperando las ansiadas vacaciones de verano? &iexcl;Ya est&aacute;n a la vuelta de la esquina! Llega el momento&#8230;</p>
                    </section>
                </div>
                <div class="columna col3 span4 elems2">
                    <section class="">
                        <img src="/resources/default_theme/lib/imagen.php?imagen=/resources/archivosbd/blog_posts_galeria/9009e6626df2ac6d2233cae47337ee73.png&w=102&h=103&mode=resize_crop" alt="¿Cómo hacer que tu negocio prospere? ¡Con nuestra Fórmula Factoring!" title="¿Cómo hacer que tu negocio prospere? ¡Con nuestra Fórmula Factoring!"/>								<h3><a href="http://www.formulacapital.es/dinero-rapido/como-hacer-que-tu-negocio-prospere-con-nuestra-formula-factoring" title="¿Cómo hacer que tu negocio prospere? ¡Con nuestra Fórmula Factoring!" alt="¿Cómo hacer que tu negocio prospere? ¡Con nuestra Fórmula Factoring!">¿Cómo hacer que tu negocio prospere? ¡Con nuestra Fórmula Factoring!</a></h3>
                        <p>Para nadie es un secreto que si queremos tener &eacute;xito en nuestro negocio debemos aumentar nuestras ventas. Todos los empresarios&#8230;</p>
                    </section>
                    <section class="last_in_column">
                        <img src="/resources/default_theme/lib/imagen.php?imagen=/resources/archivosbd/blog_posts_galeria/6f03e7f08cdac5721b0c4afe49e4db06.png&w=102&h=103&mode=resize_crop" alt="¡Pide un Crédito Personal Express y olvídate de los imprevistos!" title="¡Pide un Crédito Personal Express y olvídate de los imprevistos!"/>								<h3><a href="http://www.formulacapital.es/dinero-rapido/pide-un-credito-personal-express-y-olvidate-de-los-imprevistos" title="¡Pide un Crédito Personal Express y olvídate de los imprevistos!" alt="¡Pide un Crédito Personal Express y olvídate de los imprevistos!">¡Pide un Crédito Personal Express y olvídate de los imprevistos!</a></h3>
                        <p>&iquest;Te han invitado a una boda, comuni&oacute;n o bautizo en el &uacute;ltimo momento y no tienes dinero para afrontarlo? &iquest;Has&#8230;</p>
                    </section>
                </div>
            </div>
            <a class="ver_mas" href="/informacion-y-consejos-financieros" title="Acceder al magazine">Acceder al magazine</a>
        </div>
    </div>
</div>
