{# PIE #}
<footer id ="footerContenido">
    <div class="contenido_interior">
        <div class="row">
            <div class="span2">
                <h3 class="footer">Fórmula Capital</h3>
                <ul class="clearfix clearboth">
                    <li><a href="/formula-capital" alt="Quiénes somos" title="Quiénes somos">Quiénes <span>somos</span></a></li>
                    <li><a href="/como-conseguir-dinero" alt="Qué hacemos" title="Qué hacemos">Qué <span>hacemos</span></a></li>
                    <li><a href="/soluciones-financieras-particulares-pymes-autonomos" alt="Para quién lo hacemos" title="Para quién lo hacemos">Para quién <span>lo hacemos</span></a></li>
                    <li><a href="/formula-capital-localizacion" alt="Dónde estamos" title="Dónde estamos">Dónde <span>estamos</span></a></li>
                    <li><a href="/contacto" alt="Contacto Formula Capital" title="Contacto Formula Capital">Contacto</a></li>
                </ul>
            </div>
            <div class="span2">
                <h3 class="footer">Soluciones FC</h3>
                <ul class="clearfix clearboth">
                    <li><a href="/prestamos-hipoteca-capital-privado" alt="Hipoteca Capital Privado" title="Hipoteca Capital Privado">Préstamo Hipoteca Capital Privado</a></li>
                    <li><a href="/refinanciacion-de-deudas" alt="Refinanciación de Deudas" title="Refinanciación de Deudas">Refinanciación de Deudas</a></li>
                    <li><a href="/minicreditos" alt="Minicrédito hasta 500€" title="Minicrédito hasta 500€">Minicrédito hasta 500€</a></li>
                    <li><a href="/financiar-ventas" alt="Financiar mis ventas" title="Financiar mis ventas">Financiar mis ventas</a></li>
                    <li><a href="/cancelacion-de-deudas-y-embargos" alt="Cancelación de Deudas y Embargos" title="Cancelación de Deudas y Embargos">Cancelación de Deudas y Embargos</a></li>
                    <li><a href="/renting" alt="Renting" title="Renting">Renting</a></li>
                    <li><a href="/hipoteca-inversa" alt="Hipoteca Inversa" title="Hipoteca Inversa">Hipoteca Inversa</a></li>
                </ul>
            </div>

            <div class="span4">
                <h3 class="footer">Síguenos</h3>
                <ul class="siguenos clearfix clearboth">
                    <li style=""><a href="https://www.facebook.com/pages/F%C3%B3rmula-Capital/308208962534544" rel="nueva_ventana me" alt="facebook formula capital" title="facebook formula capital"><img src="/resources/default_theme/img/comunes/footer/facebook_footer.png" alt="facebook formula capital" title="facebook formula capital" /></a></li>
                    <li style=""><a href="https://twitter.com/FormulaCapital" rel="nueva_ventana me" alt="twitter formula capital" title="twitter formula capital"><img src="/resources/default_theme/img/comunes/footer/twitter_footer.png" alt="" title="" />&nbsp;</a></li>
                    <li style="display:none;"><a href="" rel="nueva_ventana me" alt="youtube formula capital" title="youtube formula capital"><img src="/resources/default_theme/img/comunes/footer/youtube_footer.png" alt="youtube formula capital" title="youtube formula capital" /></a></li>
                    <li style=""><a href="https://plus.google.com/107112274171026619946/posts?hl=es&partnerid=gplp0" rel="nueva_ventana me" alt="googleplus formula capital" title="googleplus formula capital"><img src="/resources/default_theme/img/comunes/footer/gplus_footer.png" alt="googleplus formula capital" title="googleplus formula capital" /></a></li>
                    <li><a hreF="/rss" rel="nueva_ventana" alt="rss formula capital" title="rss formula capital"><img src="/resources/default_theme/img/comunes/footer/rss_footer.png" alt="rss formula capital" title="rss formula capital" /></a></li>
                </ul>
                <h3 class="footer">Nuestra Presentación</h3>
                <ul class="clearfix clearboth">
                    <li><a href="/resources/default_theme/pdf/presentacion_FC.pdf" rel="nueva_ventana" alt="Descargar PDF" title="Descargar PDF">Descargar PDF</a></li>
                </ul>
            </div>
            <div id="footer_der" class="span4">
                <img src="/resources/default_theme/img/comunes/footer/logo_footer.png" alt="900 701 011" title="900 701 011" />
                <p class="horario"><strong>Nuestro horario:</strong><br/>
                    de lunes a Viernes de 9 a 18<br/></p>
                <div class="contacto_llamar">
                    <a class="link_tel telefono clearfix" href="tel: 900 701 011" alt="900 701 011" title="900 701 011" onclick="javascript:_gaq.push(['_trackPageview', '/outbound/telefono']);">
                        <strong>900 701 011</strong>
                    </a>
                    <a rel="prettyPhoto" href="/contacto-llamamos?iframe=true&width=864&height=490" class="btn btn-llamamos btn-mini" alt="Si lo prefieres te llamamos" title="">
                        Si lo prefieres te llamamos	</a>
                </div>				<div class="skype_twitter clearfix clearboth">
                    <a rel="nueva_ventana me" href="skype:formulacapital2001?call" alt="skype formula capital" title="skype formula capital" class="pull-right" onclick="javascript:_gaq.push(['_trackPageview', '/outbound/skype']);">
                        <img class="logo_skype" src="/resources/default_theme/img/comunes/footer/skype_pie_small.png" title="skype formula capital" alt="skype formula capital" />
                        formulacapital2001					</a>
                </div>
            </div>
            <div id="otrosEnlaces" class="span12">
                <a href="/minicreditos">Minicréditos online</a> | <a href="/prestamos-hipoteca-capital-privado">Préstamos con asnef</a> | <a href="/minicreditos">Mini créditos al instante</a> | <a href="/prestamos-hipoteca-capital-privado">Préstamos online</a> | <a href="/minicreditos">Mini créditos</a> | <a href="/minicreditos">Mini préstamos</a> | <a href="/minicreditos">Minicréditos</a>
            </div>
        </div>
        <div id="footer_bot" class="row">
            <a href="/mapa-web" alt="Mapa Web" title="Mapa Web">Mapa Web</a> | <a rel="prettyPhoto" href="/aviso-legal?iframe=true&width=600&height=400" alt="" title="">Aviso legal</a> | <a rel="prettyPhoto" href="/privacidad?iframe=true&width=600&height=400" alt="" title="">Política de privacidad</a> | Reservados todos los derechos ® Fórmula Capital. 		</div>
        <p class="enlacePDFfooter" >FORMULA CAPITAL es una entidad Privada de Financiación regulada conforme a los dispuestos en la Ley 2/2009 de 31 de marzo de 2009. Nº Registro 182/2011 de la Sección Segunda</p>
    </div>
</footer>
