{% extends layout %}

{% set contenido = values.contenidoDesarrollado %}
{% block cuerpo %}
<div id="sub-main" class="container_12">
    <div id="content" class="padding30">

	<div class="h-wrapper h1 grid_12">	
	    <h1 id="politica">{{contenido.Titulo}}</h1>
	</div>
        {%autoescape false%}{{contenido.Introduccion}}{%endautoescape%}

    </div>
    	
</div>
{% endblock %}