
<div class="grid_12">
    <div class="h-wrapper">
        <h3>{{values.LABELS.nuestrosServicios}}<span class="line"></span></h3>
    </div>
</div>

{% for servicio in values.servicios %}
<div class="service-2 grid_4">
    <div class="icon"><img src="images/gear-icon.png" alt=""></div>
    <div class="text">
	<h2>
	    {{ macro.link(servicio.Titulo,servicio.Titulo,servicio.Href.url,servicio.Href.targetBlank) }}
	</h2>
    <div>{{macro.recortaTexto(servicio.Resumen,100)}}</div>
    </div>
</div>
{% endfor %}