{% extends layout %}

{% block contenido %}
<div class="col_drcha">
    {% include '_global/ruta.html.twig' %}
    <h1>{{macro.idioma('servicios')}}</h1>

    <div id="col_izqda">
        {% for key,item in values.servicios %}    
            {% if key is even %} {{ macro.servicio (item,1) }} {% endif %}
        {% endfor %}
    </div>

    <div id="col_drcha">
        {% for key,item in values.servicios %}    
            {% if key is odd %} {{ macro.servicio (item,1) }} {% endif %}
        {% endfor %}
    </div> 
</div>	
{% endblock %}