{# Galeria #}
{% extends layout %}

{% set widgets = values.widgets %}

{% block content %}
	<p>Template autogenerado para el controlador Galeria</p>
	<p>Edítalo en themes/themec/modules/Galeria/index.html.twig</p>
{% endblock %}