{# MUESTRO LAS DIFERENTES CATEGORIAS DEL BLOG #}
<div class="widget_tag_cloud widget">
    <div class="h-wrapper">
        <h3>{{macros.idiomas('categorias')}}<span class="line"></span></h3>
    </div>
    <div class="tagcloud">
        {% for item in values.blog.categorias.secciones %}
            {{ macro.link(item.titulo,none,item.url.url,item.url.targetBlank,none,"f164") }}           
        {#
        <a href="#" class="f164">Africa</a>
        <a href="#" class="f8">America</a>
        <a href="#" class="f8">art</a>
        <a href="#" class="f164">Asia</a>
        <a href="#" class="f164">Australia</a>
        <a href="#" class="f8">business</a>
        <a href="#" class="f8">ceremony</a>
        <a href="#" class="f8">computer</a>
        <a href="#" class="f164">conferrence</a>
        <a href="#" class="f22">Europe</a>
        <a href="#" class="f8">people</a>
        <a href="#" class="f8">Soft Ware</a>
        <a href="#" class="f164">sport</a>
        #}
        {% endfor %}
    </div>
</div>