<div class="widget_persianart_cycleposts widget">
    <div class="h-wrapper">
        <h3>Portfolio<span class="line"></span></h3>
    </div>
    <ol class="portfolio-cycle-widget">
        <li class="widget-recent-portfolio-wrapper">
            <div class="widget-recent-portfolio">
                <div class="details-wrap">
                    <div class="shadow">
                        <div class="date">
                            <span>Jul</span>
                            <span>6</span>
                            <span>2012</span>
                        </div>
                        <div class="featured-thumbnail">
                            <div class="image-wrap">
                                <a class="image-wrapper" href="#" data-rel="prettyPhoto[gallery]"><img src="images/portfolio/portfolio5-90x60.jpg" alt="" /><span class="zoom-icon video"></span></a>
                            </div>
                        </div>
                        <!-- end of .featured-thumbnail -->
                    </div>
                    <div class="tilte">
                        <h5>
                            <a href="#">Piece of classical Latin literature</a>
                        </h5>
                    </div>
                </div>
                <div class="excerpt"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown... </div>
            </div>
        </li>
        <!-- end of .footer-recent-portfolio-wrpper -->
        <li class="widget-recent-portfolio-wrapper">
            <div class="widget-recent-portfolio">
                <div class="details-wrap">
                    <div class="shadow">
                        <div class="date">
                            <span>Jul</span>
                            <span>5</span>
                            <span>2012</span>
                        </div>
                        <div class="featured-thumbnail">
                            <div class="image-wrap">
                                <a class="image-wrapper" href="#" data-rel="prettyPhoto[gallery]"><img src="images/portfolio/portfolio7-90x60.jpg" alt="" /><span class="zoom-icon picture"></span></a>
                            </div>
                        </div>
                        <!-- end of .featured-thumbnail -->
                    </div>
                    <div class="tilte">
                        <h5>
                            <a href="#">Contrary popular belief</a>
                        </h5>
                    </div>
                </div>
                <div class="excerpt"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown... </div>
            </div>
        </li>
        <!-- end of .footer-recent-portfolio-wrpper -->
        <li class="widget-recent-portfolio-wrapper">
            <div class="widget-recent-portfolio">
                <div class="details-wrap">
                    <div class="shadow">
                        <div class="date">
                            <span>Jul</span>
                            <span>4</span>
                            <span>2012</span>
                        </div>
                        <div class="featured-thumbnail">
                            <div class="image-wrap">
                                <a class="image-wrapper" href="#" data-rel="prettyPhoto[gallery]"><img src="images/portfolio/portfolio11-90x60.jpg" alt="" /><span class="zoom-icon magnify"></span></a>
                            </div>
                        </div>
                        <!-- end of .featured-thumbnail -->
                    </div>
                    <div class="tilte">
                        <h5>
                            <a href="#">It has survived not only</a>
                        </h5>
                    </div>
                </div>
                <div class="excerpt"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown... </div>
            </div>
        </li>
        <!-- end of .footer-recent-portfolio-wrpper -->
    </ol>
</div>